# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/

# Environment
.env

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
